* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fffafa;
    line-height: 1.6;
}

.accent {
    color: #007BFF;
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    border-bottom: 1px solid blue;
    padding: 1rem 4.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    display: flex;
    z-index: 100;
    top: 0;
}

nav a {
    color: #fffafa;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
    font-size: 0.9rem;
    padding-bottom: 4px;
}
nav a:hover {
    color: #007BFF;
}

nav {
    display: flex;
    gap : 2rem;
    align-items: center;
}

nav a::hover {
    color: #007BFF;
}

#about {
    display: flex;
    gap: 2rem;
    padding: 4rem 4.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    min-height: 70vh;
}   

.hero-kiri {
    flex: 1;
    max-width: 550px;
}

.hero-kiri h2 {
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
    color: #fffafa;
    opacity: 70%;
    line-height: 1.2;
}

.hero-kiri p {
    font-size: 1.1rem;
    color: #fffafa;
    opacity: 70%;
    margin-top: 1rem;
}

.hero-kanan img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    object-position: center;
    max-width: 650px;
}